.calculator {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 70px;
  right: 0;
  bottom: 0;
}

.calculator-burst,
.calculator-settings {
  left: 271px;
}

.calculator-files {
  left: 449px;
}
