.Frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 50px auto 0 auto;
}

.Frame-empty {
  border: 1px solid #fff;
}

.Frame img {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.Frame-animation-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-30px, -30px);
  border-radius: 50%;
  background: transparent;
  border: 5px solid #a9a9a9;
  color: #a9a9a9;
  outline: none !important;
  cursor: pointer;
  font-size: 1.5em;
}

.Frame-animation-button:hover {
  color: #e79600;
  border-color: #e79600;
}

.Frame-animation-button:focus {
  color: #e79600;
  border-color: #e79600;
}

.Frame-container {
  position: relative;
  height: 300px;
  width: 300px;
}

.top-left {
  position: absolute;
  top: -15px;
  left: 0px;
}

.Frame-container-text {
  position: absolute;
}

.Frame-container-text.top-center {
  text-align: center;
  top: -15px;
  width: 100%;
}

.Frame-container-text.top-right {
  top: -15px;
  right: 2px;
}

.Frame-container-text.bottom-left {
  bottom: -15px;
  left: 0px;
}

.Frame-container-text.bottom-center {
  text-align: center;
  bottom: -15px;
  width: 100%;
}

.Frame-container-text.bottom-right {
  right: 2px;
  bottom: -15px;
}
