.Preview {
  position: absolute;
  top: 40px;
  left: 70px;
  right: 0;
  bottom: 0;
  background: #2e2e2e;
  transform: translateX(-100%);
  transition: 0.2s transform;
}

.Preview h1 {
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

.Preview-expanded {
  transform: translateX(0);
  transition: 0.2s transform;
}

.Preview-scrubber {
  text-align: center;
  width: 340px;
  margin: 20px auto 0;
}

.Preview-scrubber input {
  width: 300px;
  cursor: pointer;
}

.Preview-scrubber-counter {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.Preview-create {
  text-align: center;
  margin-top: 20px;
}

.Preview-create-button {
  width: 210px;
  height: 35px;
  margin-top: 10px;
  font-size: 1em;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  animation: fade-in 0.5s;
}

.Preview-create-button:hover {
  background: #484848;
}

.Preview-create-button:active {
  background: #3b3b3b;
}

.Preview-create-button:focus {
  border-color: #e79600;
  background: #484848;
}

.Preview-progress-outer {
  width: 210px;
  height: 10px;
  margin: 10px auto;
}

.Preview-progress-inner {
  height: 100%;
  border-radius: 3px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
