.Preview {
  position: absolute;
  top: 60px;
  left: 70px;
  right: 0;
  bottom: 0;
  background: #2e2e2e;
  transform: translateX(-100%);
  transition: 0.2s transform;
  margin-bottom: 0;
  overflow: scroll;
}

.Preview-expanded {
  z-index: 1;
  transform: translateX(0);
  transition: 0.2s transform;
  min-height: 100vh;
}

.Preview-scrubber {
  text-align: center;
  width: 340px;
  margin: 20px auto 0;
}

.Preview-scrubber input {
  width: 300px;
  cursor: pointer;
}

.Preview-scrubber-counter {
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
}

.Preview-create {
  width: 200px;
  text-align: center;
  margin: 20px auto 0;
}

.Preview-progress-outer {
  width: 210px;
  margin: 15px auto 0;
}

.Preview-progress-inner {
  height: 100%;
  border-radius: 3px;
}

.Preview-progress-success {
  width: 200px;
  margin: 15px auto 0;
  text-align: center;
  color: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
