.SidebarButton {
  position: relative;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 1em;
  background: #2e2e2e;
  outline: none !important;
  cursor: pointer;
  animation: fade-in 0.5s;
}

.SidebarButton-expanded {
  border-color: #fff;
}

.SidebarButton:hover,
.SidebarButton:focus {
  background: #484848;
}

.SidebarButton:active {
  background: #3b3b3b;
}

.SidebarButton img {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: -8px;
  margin-top: -2px;
}

.SidebarButton-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4em;
  height: 1.4em;
  color: #fff;
  border-radius: 4px;
  font-size: 0.6em;
  font-weight: bold;
  padding: 5px;
}

.SidebarButton-badge-orange {
  background: #e79600;
}

.SidebarButton-badge-green {
  background: #2ecc40;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  opacity: 0;
  transition: opacity 0.8s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
