.Sidebar {
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 70px;
  border-right: 1px solid black;
  background: #2e2e2e;
}

.Sidebar-help {
  position: absolute;
  left: 18px;
  bottom: 20px;
}

.Sidebar-help a {
  color: #fff;
  text-decoration: none;
}

.Sidebar-help a:hover {
  color: #fff;
  text-decoration: underline;
}
